node-red/flows (1).json
[{"id":"afc61e48.75f38","type":"tab","label":"eugenio_test_schema","disabled":false,"info":""},{"id":"794b1c4b.962a34","type":"mqtt out","z":"afc61e48.75f38","name":"Mqtt Client Output","topic":"devices/95cd7ea1-1e83-43b9-af90-35c3b269e924/messages/events/","qos":"","retain":"","broker":"3e5c3b1e.92c1f4","x":990,"y":280,"wires":[]},{"id":"4b65a16d.bd5d","type":"function","z":"afc61e48.75f38","name":"Barra_status","func":"var state = msg.payload;\n\nmqtt_msg = {\n    \"topic\": \"devices/95cd7ea1-1e83-43b9-af90-35c3b269e924/messages/events/\",\n    \"payload\": {\n        \"schema\": \"test_schema\",\n        \"payload\":{\n            \"field0\":state,\n            \"field1\":state,\n            \"field2\":state,\n            \"field3\":state,\n            \"field4\":state,\n            \"field5\":state,\n            \"field6\":state,\n        }}}\n        \nreturn mqtt_msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":200,"wires":[["794b1c4b.962a34","c903ef73.b773f"]]},{"id":"f4a09073.f4c4b","type":"e-mail","z":"afc61e48.75f38","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":970,"y":360,"wires":[]},{"id":"c903ef73.b773f","type":"switch","z":"afc61e48.75f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":280,"wires":[["6d05ff8d.994f5"]]},{"id":"6d05ff8d.994f5","type":"function","z":"afc61e48.75f38","name":"mail","func":" msg = {\n    payload : \"Totem Alarme Dispenser 90%\" + Date().toString(),\n    topic: \"Totem Loja Natura Barra Shopping - Semente\",\n    }\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["f4a09073.f4c4b"]]},{"id":"c7b35188.6d65c","type":"function","z":"afc61e48.75f38","name":"Barra_status","func":"var state = msg.payload;\n\nif (state == 100){\nmqtt_msg = {\n    \"topic\": \"devices/95cd7ea1-1e83-43b9-af90-35c3b269e924/messages/events/\",\n    \"payload\": {\n        \"schema\": \"test_schema\",\n        \"payload\":{\n            \"field2\":state,\n        }}}\n}\nelse {\nmsg.payload = 10;\n}\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":480,"wires":[["d9fb80ec.b3b14","794b1c4b.962a34"]]},{"id":"905404ca.4f7c38","type":"inject","z":"afc61e48.75f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":230,"y":480,"wires":[["c7b35188.6d65c","d9fb80ec.b3b14","85e33b1a.730228"]]},{"id":"d9fb80ec.b3b14","type":"switch","z":"afc61e48.75f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":560,"wires":[["5c93cbce.8d3ce4"]]},{"id":"5c93cbce.8d3ce4","type":"function","z":"afc61e48.75f38","name":"mail","func":" msg = {\n    payload : \"Totem Status Sistema Okay\" + Date().toString(),\n    topic: \"Totem Loja Natura Barra Shopping - Semente\",\n    }\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":560,"wires":[["f4a09073.f4c4b"]]},{"id":"85e33b1a.730228","type":"switch","z":"afc61e48.75f38","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":620,"wires":[["828e54b3.6f6668"]]},{"id":"828e54b3.6f6668","type":"function","z":"afc61e48.75f38","name":"mail","func":" msg = {\n    payload : \"Totem Status Sistema Off\" + Date().toString(),\n    topic: \"Totem Loja Natura Barra Shopping - Semente\",\n    }\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":620,"wires":[["f4a09073.f4c4b"]]},{"id":"2e8bced2.8431e2","type":"comment","z":"afc61e48.75f38","name":"Alarme Dispenser ","info":"","x":230,"y":120,"wires":[]},{"id":"a3a48c59.a152e","type":"comment","z":"afc61e48.75f38","name":"Status","info":"","x":210,"y":440,"wires":[]},{"id":"35f4f8c5.184ed8","type":"inject","z":"afc61e48.75f38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"1","payloadType":"num","x":210,"y":160,"wires":[["4b65a16d.bd5d"]]},{"id":"3e5c3b1e.92c1f4","type":"mqtt-broker","z":"","name":"Eugenio Broker","broker":"logicalis-eugeniostg-iothub.azure-devices.net","port":"8883","tls":"330179a1.ed7c36","clientid":"95cd7ea1-1e83-43b9-af90-35c3b269e924","usetls":true,"compatmode":false,"keepalive":"5","cleansession":true,"birthTopic":"devices/95cd7ea1-1e83-43b9-af90-35c3b269e924/messages/events/","birthQos":"0","birthPayload":"msg.payload","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"330179a1.ed7c36","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"cert.pem","keyname":"key.pem","caname":"CAcertificate.cert","servername":"","verifyservercert":true}]